:root {
  --main-bg-color: #FFF9EC;
}

body, html {
    /* important */
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: var(--main-bg-color);
}

.portfolio-body {
  padding-top: 50px;
}

.navbar .navbar-default .navbar-fixed-top{
    border: 0px;
}


.container {
    width: 100%;
    min-width: 1024px;
    background-color: var(--main-bg-color);
}

.contain-width {
  min-width: 1024px;
  min-height: 620px;
  height: 100%;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.nav li a {
    color: #000 !important;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-default .navbar-nav>.active>a {
  background-color: #E9E2D4 !important;
}

.resume {
    bottom: 0;
 
}

.image-preview {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.btn {
  color: var(--main-bg-color);
  background-color: #616C68;
  border: 0px;
}

.btn:hover {
  color: var(--main-bg-color);
  background-color: #414C48;
}

.btn:active {
  color: var(--main-bg-color);
  background-color: #313C38;
}

.title-page {
    background: url("../images/albright-knox2.jpg") no-repeat center;
    background-size: cover;
    min-width: 1024px;
    height: 100%;
    position: relative;
}

.title-text {
  font-family: 'Sacramento', cursive;
  position: absolute;
  font-size: 150px;
  color: var(--main-bg-color);
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  width: 100%;
  height: 400px;
}

.modal-body {
  padding: 0px;
}

.separator {
    width: 100%;
    height: 50px;
    background-color: var(--main-bg-color);
    position: relative;
}

.descriptions {
    height: 100%;
}


.cd-fixed-bg {
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
}
 
.cd-fixed-bg.cd-bg-1 {
    background-image: url("../images/teaching.jpg");
    float: left;
    width: 50%;
    height: 100%;
}

.cd-fixed-bg.cd-bg-3 {
    background-image: url("../images/biography.jpg");
    float: left;
    width: 50%;
    height: 100%;
}

.teaching-text {
    float: right;
    width: 50%;
    text-align: center;
    height: 100%;

    overflow: auto;
}

.artwork-section {
    width: 100%;
    text-align: center;
    height: 135%;
}

.artwork {
    height: 90%; 
    overflow: auto;
    margin-bottom: 20px;
}

.bio-text {
    float: right;
    text-align: center;
    width: 50%;
    height: 100%;

    overflow: auto;
}

.resources-section {
  width: 65%;
  text-align: center;
  margin: auto;

}

.resource {
  font-size: 17px;
}

.cd-scrolling-bg {
    min-height: 100%;
}

.float-right {
  float: right;
}

.social-media {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

.fa {
  padding: 20px;
  font-size: 30px !important;;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 20px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none !important;
    color: #fff;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

/* Images */
.box {
  float: left;
  position: relative;
  width: 20%;
}

.boxInner {
  position: absolute;

  left: 3px;
  right: 3px;
  top: 3px;
  bottom: 3px;
  display: flex;
  justify-content: center;
  min-width: 0;

  overflow: hidden;
}
.boxInner img {
  width: 100%;
  align-self: center

}

.boxInner .titleBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -50px;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
  margin-bottom: 0;
}

.box {
  width: 25%;
  padding-bottom: 20%;
}

